.app-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:  50px auto 50px;
}

.box:first-child {
    grid-row: 1/2;
}

.box:nth-child(2) {
    grid-row: 3/4;
}